{% extends "index.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}

{% block main %}

<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/static/pharmacognosy/images/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper">
    <header id="header" class="hoc clear">
      <div id="logo"> 
      
        <!-- ################################################################################################ -->
        <h1>Pharmacognosy</h1>
        <p>Shostkinsky Medical College</p>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          {# <li><a href="/">Home</a></li> #}
          <li><a href="/articles/">Лекції</a></li>
          <li><a href="/contact/">Контакти</a></li>
          {# <li><a class="drop" href="#">Pages</a> #}
            {# <ul> #}
              {# <li><a href="pages/gallery.html">Gallery</a></li> #}
              {# <li><a href="/article/">Full Width</a></li> #}
              {# <li><a href="pages/sidebar-left.html">Sidebar Left</a></li> #}
              {# <li><a href="pages/sidebar-right.html">Sidebar Right</a></li> #}
              {# <li><a href="pages/basic-grid.html">Basic Grid</a></li> #}
            {# </ul> #}
          {# </li> #}
          {# <li><a class="drop" href="#">Dropdown</a> #}
            {# <ul> #}
              {# <li><a href="#">Level 2</a></li> #}
              {# <li><a class="drop" href="#">Level 2 + Drop</a> #}
                {# <ul> #}
                  {# <li><a href="#">Level 3</a></li> #}
                  {# <li><a href="#">Level 3</a></li> #}
                  {# <li><a href="#">Level 3</a></li> #}
                {# </ul> #}
              {# </li> #}
              {# <li><a href="#">Level 2</a></li> #}
            {# </ul> #}
          {# </li> #}
          
          {# <li><a href="#">Link Text</a></li> #}
          {# <li><a href="#">Long Link Text</a></li> #}
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article><em>Курс лекцій з предмету</em>
      <h2 class="heading">Фармакогнозія</h2>
      <p>Шосткинського медичного училища</p>
      <footer><a class="btn" href="/articles/">Читати лекції</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    
    <ul class="nospace clear services">
      <li class="one_half first borderedbox">
        <div class="inspace-30">
          <h6 class="heading">Фармакогнозія : </h6>
          <p class="nospace"> від грецького « pharmacon » - ліки , отрута ; </p>
            <p class="nospace"> « gnosis » - знання . </p>
        </div>
      </li>
      <li class="one_quarter">
      {# <a href="#"> #}
        <img class="imgMU" src="{% static 'pharmacognosy/images/pharm.png' %}" alt="">
          {# <figcaption>Placerat</figcaption> #}
        {# </figure> #}
        {# </a> #}
        </li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>

  
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('/static/pharmacognosy/images/backgrounds/02.png');">
  <article class="hoc container clear center"> 
 
    <!-- ################################################################################################ -->
    <h3 class="heading">Все є отрута і все є ліки , ніщо не позбавлено отруйності.</h3>
    <p class="btmspace">Одна тільки доза робить речовину отрутою або ліками.</p>
    <p class="btmspace-50">Парацельс (1493 —  1541)</p>  
    <footer><a class="btn medium" href="/articles/">Читати лекції</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
    <p class="nospace">лекції з предметів</p>
      <h3 class="heading">Фармакогнозія і ботаніка</h3>
      {# <p class="nospace">Шосткинське медичне училище</p> #}
    </div>
    <ul class="nospace group cta">
      <li class="one_third first">
        <article><a href="/articles/category/get/4/"><img src="{% static 'pharmacognosy/images/botan.png' %}" alt=""></a>
          <p></p>
          <h3 class="heading"><footer><a href="/articles/category/get/4/">Ботаніка &raquo;</a></footer></h3>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/articles/category/get/11/"><img src="{% static 'pharmacognosy/images/2kurs.png' %}" alt=""></a>
          <p></p>
          <h3 class="heading"><footer><a href="/articles/category/get/11/">Фармакогнозія 2 курс &raquo;</a></footer></h3>
        </article>
      </li>
      <li class="one_third">
        <article><a href="/articles/category/get/9/"><img src="{% static 'pharmacognosy/images/3kurs.png' %}" alt=""></a>
          <p></p>
          <h3 class="heading"><footer><a href="/articles/category/get/9/">Фармакогнозія 3 курс &raquo;</a></footer></h3>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
{% endblock %}